<p id="notice"><%= notice %></p>

<h1>Preguntas</h1>
<h1>Listado de preguntas</h1>

<table class ="table">
  <tr>
	<th>Titulo de pregunta</th>
    <th>Descripcion</th>

    <th>Autor</th>
    <th>Mostrar</th>
  </tr>

  <% @questions.order("created_at DESC").each do |q| %>
    <tr>
      <td><%= q.titulo %></td>
      <td style= "width: 200px; height: 20px; overflow: hidden;"><%= q.descripcion %></td>
	  <td> <%= q.user.name %> </td>
      <td style = "padding-left: 10px "><%= link_to 'Ver', :action => :show, :id => q.id %></td>
    </tr>
  <% end %>
</table>


<br>

<%= link_to 'Nueva pregunta', new_question_path %>
