

<h1>Preguntas</h1>
<h1>Listado de preguntas</h1>

<% if @questions.blank? %>
	</br>
	<h4> No se encontraron preguntas </h4>
<% else %>

<table class ="table">
  <tr>
	<th>Titulo de pregunta</th>
    <th>Descripcion</th>

    <th>Autor</th>
    <th>Mostrar</th>
  </tr>
	<h4> Ultimas preguntas </h4> <!-- deberia mostrar las mas recientes pero rompi el scope  -->
  		<% @questions.all.each do |q| %>
    		<tr>
      			<td><%= q.titulo %></td>
      			<td style= "width: 200px; height: 20px; overflow: hidden;"><%= q.descripcion %></td>
	  		<td> <%= link_to(q.user.name, user_path(q.user)) if user = q.user %> </td>
      			<td style = "padding-left: 10px "><%= link_to 'Ver', :action => :show, :id => q.id %></td>
    		</tr>
 		<% end %>
	
</table>
<h4> Preguntas mas visitadas del mes </h4>
<table class ="table">
  <tr>
  <th>Titulo de pregunta</th>
    <th>Descripcion</th>
<th>Visitas</th>
    <th>Autor</th>
    <th>Mostrar</th>
    <th>Cantidad de respuestas</th>
  </tr>
  
      <% @questions.recent.each do |q| %>
        <tr>
            <td><%= q.titulo %></td>
            <td style= "width: 200px; height: 20px; overflow: hidden;"><%= q.descripcion %></td>
            <td> <%= q.visits_count %> </td>
        <td> <%= link_to(q.user.name, user_path(q.user)) if user = q.user %> </td>
            <td style = "padding-left: 10px "><%= link_to 'Ver', :action => :show, :id => q.id %></td>
            <td> <%= q.answers_count %>
        </tr>
    <% end %>
  
</table>
<% end %>


<br>

<%= link_to 'Nueva pregunta', new_question_path %>
