<p id="notice"><%= notice %></p>

<h1>Preguntas</h1>
<h1>Listado de preguntas</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @questions.each do |q| %>
    <tr>
      <td><%= q.titulo %></td>
      <td><%= q.descripcion %></td>
      <td><%= link_to 'Show', :action => :show, :id => q.id %></td>
    </tr>
  <% end %>
</table>


<br>

<%= link_to 'Nueva pregunta', new_question_path %>
