
<div class="row">
	<div class="col-4 col-md-2">

		<div class="alert alert-warning" role="alert" style="margin: 20px;">
			<h4> Datos del autor </h4>

			<h5>Nombre: <%= @question.user.name%> </h5>
			<h5> <%= @question.user.apellido%></h5>

		</div>
	</div>

	<div class="col-xs-7 col-sm-7 col-md-7">
		<div class="panel panel-default" style="margin-top: 20px;">    
			<div class="col-md-8"> <h3><%= @question.titulo %></h3></div>
			<% if current_user and current_user.id==@question.user_id %>


			<div class="col-md-2">
				<%= link_to "Editar", edit_question_path(@question), class: 'btn btn-primary btn-md',
				style:"margin-top:10px;"%>
			</div>


			<div class='col-md-2'>
				<%= link_to "Eliminar",@question, method: :delete, class: 'btn btn-primary btn-md',
				style:"margin-top:10px; color:white;" , :onclick => "return confirmar('Eliminar la pregunta');"%>
			</div>
			<% end %>
		</div>
		<div class="panel-body">
			<div class="col-xs- col-sm-10 col-md-12">
				<div class="panel-footer">
					<b>Descripción</b><br>
					<h4><%= @question.descripcion %></h4>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- COMENTARIOS -->

<div class="row">
	<div class="col-10 col-md-6">

		<% if current_user%>
		<h4> Publicar comentario </h4>
		<%= form_tag ("/comments/new") do %>
		<%= hidden_field_tag(:question_id, @question.id) %>
		<div class="row">
			<div class="col-md-12" style="padding-right: 100px; padding-left: 100px;">
				<%= text_area_tag(:cuerpo,"",style: "width:100%; height:50px;",:required => true) %>
			</div>


			<div class="col-md-12" style="text-align: center;">
				<%= submit_tag("Publicar comentario", class: 'btn btn-primary', style:"margin-top:5px;") %>
			</div>
			<% end %>
		</div>
	</div>
</div>
<% end %>


<div class="row">
	<div class ="col-md-12">
		<% if @question.comments.count > 0 %>
		<h3 style="margin-left: 50px";> comentarios: </h3>
	</div>
</div>
<div class="row" style="padding-right: 15px; padding-left: 5px;">

	<% @question.comments.each do |comment| %>
	<div class="col-md-8" style="background-color: #ccc; margin-top: 5px; border-radius: 5px;">
		<div class="row">
			<div class="col-md-10">
				<h5> <%= comment.texto %> </h5>
				<h5> creador : <%= comment.user.name  %> 
					fecha : <%= comment.created_at %> </h5>
				</div>
				<div class="col-md-2">
					<!-- ver si soy propietario primero -->
					<% if comment.user == current_user %>

					<%= form_tag ("/comments/delete") do %>
					<%= hidden_field_tag(:comment_id, comment.id) %>
					<%= submit_tag("Eliminar", class: 'btn btn-danger', style:"margin-top: 20px;", :onclick => "return confirmar('Desea eliminar el mensaje');") %>
					
				</div>
			</div>
			
			<% end %>
			<% end %>


		</div>

		<% end %>
		<% else %>
		<h3> No hay comentarios</h3>
	</div>
</div>
<% end %>
</div>
</div>
<!-- respuestas-->


<div class="row">
	<div class ="col-md-12" style = "background-color: white; margin-left:10px;">
		<% if @question.answers.count > 0 %>

		<h2>Respuestas </h2>
	</div>
</div>
<% @question.answers.each do |ans| %> </br>

<div class ="row">
	<div class="col-md-12">
		
			<% if ans.mejor_resp == true %>
			<div class="panel panel-success" style="margin-top: 20px;">
			<div class="panel-heading">Mejor Respuesta</div>
			<% else %>
			<div class="panel panel-default" style="margin-top: 20px;">
			<div class="panel-heading">Respuesta</div>
			<% end %>
			<div class="panel-body">
			<div class = "col-md-3">
				<h5> creador : <%= ans.user.name  %> </h5>
				<% d=ans.created_at %>
				<h5>fecha : <%= d.strftime("%d/%m/%Y %H:%M") %> </h5>
			</div>

			<div class="col-md-6">
				<h5> <%= ans.texto %> </h5>
			</div>

		</div>

			<div class ="col-md-2">
				<%= form_tag ("/answers/show") do %>
				<%= hidden_field_tag(:id, ans.id) %>
				<%= submit_tag("Comentar", class: 'btn btn-primary', style:"margin-top: 20px;") %>
				<% end %>
			</div>

			<% if ans.user == current_user %>
			<div class ="col-md-2">
				<%= form_tag ("/answers/delete") do %>
				<%= hidden_field_tag(:answer_id, ans.id) %>
				<%= submit_tag("Eliminar", class: 'btn btn-danger', style:"margin-top: 20px;", :onclick => "return confirmar('Desea eliminar el mensaje');") %>
			</div>             
			<% end %>

			<%end%>
			<%if (@question.user_id == current_user.id) %>
			<div class ="col-md-2">
				<%= form_tag ("/answers/elegirmejor") do %>
				<%= hidden_field_tag(:answer_id, ans.id) %>
				<%= hidden_field_tag(:question_id, @question.id) %>
				<% if @question.tiene_mejor_resp == false %>
				<%= submit_tag("Mejor respuesta", class: 'btn btn-clasic', style:"margin-top: 20px;", :onclick => "return confirmar('Desea elegir la mejor respuesta?');") %>
				<% end %>
			</div>             
			<% end %>
			<% end %>
		</div>
	</div>
</div>



		<div class = "col-md-10">
			<% ans.comments.each do |comment| %>
			<div class="col-md-8" style="background-color: #ccc; margin-top: 5px; border-radius: 5px;">
				<div class="row">
					<div class="col-md-10">
						<h5> <%= comment.texto %> </h5>
						<h5> creador : <%= comment.user.name  %> 
							fecha : <%= comment.created_at %> </h5>
						</div>
						<div class="col-md-2">
							<!-- ver si soy propietario primero -->
							<% if comment.user == current_user %>
							<%= form_tag ("/comments/delete") do %>
							<%= hidden_field_tag(:comment_id, comment.id) %>
							<%= submit_tag("Eliminar", class: 'btn btn-danger', style:"margin-top: 20px;", :onclick => "return confirmar('Desea eliminar el mensaje');") %>
							<% end %>
						</div>
					</div>
				</div>

				<%end%>
		</div>

			<% end %>





		</div>

	</div>
</div>

<%end%>
<% else %> 
<h2> No hay Respuestas aún </h2>


</div>
</div>

<% end %>


<!--  PUBLICAR PREGUTNAS -->
<div class="row">
	<div class="col-md-12" style="margin-left: 10px;">

		<% if current_user%>
		<h4>   Responder </h4>
		<%= form_tag ("/answers/new") do %>
		<%= hidden_field_tag(:question_id, @question.id) %>
		<div class="row">
			<div class="col-md-8" style="padding-right: 100px; padding-left: 100px;">
				<%= text_area_tag(:texto,"",style: "width:100%; height:50px;",:required => true) %>
			</div>


			<div class="col-md-4" style="text-align: center;">
				<%= submit_tag("Publicar respuesta", class: 'btn btn-primary', style:"margin-top:5px;") %>
			</div>
			<% end %>
		</div>
	</div>
</div>
<% end %>
