<p id="notice"><%= notice %></p>

<h1>Facultades</h1>

<table class="table">
  <tr>
    <th>Facultad</th>
    <th>Ver Facultad</th>
    <th>Ver Usuarios</th>
	<% if user_signed_in? %>
    		<th>Editar</th>
	<% end %>
  </tr>

	<% @faculties.order('name ASC').each do |f| %>
		<tr>
		<td> <%= f.name %> </td>
		<td> <%= link_to 'Ver', :action => :show, :id => f.id %> </td>
		<td> <%= link_to 'Ver', :action => :show_users, :id => f.id %> </td>
		<% if user_signed_in? %>
			<% if f.id != Faculty.find_by(name: "Otra").id %>
				<td> <%= link_to 'Editar', :action => :edit, :id => f.id %>
			<% else %>
				<td> Facultad por defecto </td>
			<% end %>
		<%end%>
		</tr>
	<% end %>
  <tr>
		<% if user_signed_in? %>
			<td colspan="2" align="center" >
				</br>
				<%= button_to 'Nueva Facultad', faculties_new_path , method: 'get', class: 'faculty' %>
			</td>
		<% end %>
	</tr>
</table>
</br>

<h4>La facultad con más preguntas es:  </h4>
 <% @faculties.preguntas.limit(1).each do |f| %>
<%= f.name %> con <%= f.questions_count %> respuesta/s
 <% end %>

<br>

