<h3> ¡Hola <%= @user.name %>! </h3>



<% if current_user.answers.count > 0 %>

<h2>Listado de tus ultimas respuestas</h2>


<table class ="table">
	<tr>
		<th>Titulo de pregunta</th>
		<th>Descripcion</th>
		<th>Tu respuesta</th>
		<th>Respuestas nuevas </th>

		<th>Mostrar</th>
	</tr>

	<% @user.answers.all.each  do |a| %>
		<tr>
				
			<td><%= a.question.titulo %></td>
			<td><%= a.question.descripcion %></td>		
			<td> <%= a.texto %> </td>
			<td> <% if (a.question.answers.last.created_at > @user.last_seen_at_before) %>
				 Hay respuestas nuevas!
				 <%else %>
				 No hay respuestas nuevas!
				 <% end %>
				</td>
			
			<td style = "padding-left: 10px "> <%= link_to 'Ver', question_path(a.question.id) %> </td>
		</tr>
	<% end %>
</table>

<% else %>

<h2>No tienes respuestas</h2>

<% end %>
