<h3> ¡Hola <%= @user.name %>! </h3>

<h2>Listado de tus ultimas respuestas</h2>

<table class ="table">
	<tr>
		<th>Titulo de pregunta</th>
		<th>Descripcion</th>

		<th>Tu respuesta</th>
		<th>Mostrar</th>
	</tr>

	<% @user.answers.all.each  do |a| %>
		<tr>
				
			<td><%= a.question.titulo %></td>
			<td style= "width: 200px; height: 20px; overflow: hidden;"><%= a.question.descripcion %></td>		
			<td> <%= a.texto  %> </td>
			
			<td style = "padding-left: 10px "> <%= link_to 'Ver', question_path(a.question.id) %> </td>
		</tr>
	<% end %>
</table>