<p id="notice"><%= notice %></p>

<h1>Comment Qs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment_qs.each do |comment_q| %>
      <tr>
        <td><%= link_to 'Show', comment_q %></td>
        <td><%= link_to 'Edit', edit_comment_q_path(comment_q) %></td>
        <td><%= link_to 'Destroy', comment_q, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment Q', new_comment_q_path %>
