


<%= form_for :permit, :url => { :action => :update, :id => @permit.id },
:method => :put do |f| %>
 
<% if @permit.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@permit.errors.count, "error") %> prohibited
      this permit from being saved:</h2>
    <ul>
    <% @permit.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </p>
  <p>
    <%= f.label :score %><br>
    <%= f.text_area :score %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 

<%= link_to 'Back', :action => :index %>
